@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
  }
  html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  body {
    background: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
  }
  /* :root{
    --border-color: #fff5;
    --w-image: 500px;
    --calculate: calc(3 / 4);
  } */
  *::selection {
    background: #2b3dda;
    color: #fff;
  }
  html {
    font-size: 62.5%;
    overflow-x: hidden;
  }
  html::-webkit-scrollbar {
    width: 0.8rem;
  }
  html::-webkit-scrollbar-track {
    background: rgb(235, 202, 245);
  }
  html::-webkit-scrollbar-thumb {
    background: yellow;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.7rem 10%;
    height: 6.5rem;
    background-color: #fff82e1d;
    /* background-color: rgba(255, 250, 110, 0.158); */
    border-bottom: 2px solid black;
    backdrop-filter: blur(5px);
    box-shadow: 0 1px 4px rgba(255, 255, 255, 0.3);
    /* display: grid; */
  }
  section {
    min-height: 100vh;
    /* padding: 2rem 9%; */
    align-items: center;
  }
  .heading {
    font-size: 3.5rem;
    /* color: #ffffff; */
    color: #000;
    font-weight: 800;
    text-align: center;
  }
  .heading span {
    color: rgb(115, 3, 167);
  }
  header .logo {
    font-size: 1.9rem;
    font-weight: 800;
    text-decoration: none;
    /* color: rgb(255, 255, 255); */
    color: #000;
  }
  header .logo i {
    font-size: 2.2rem;
  }
  header .logo:hover {
    color: #ff7b00;
  }
  header .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .navbar li {
    margin-left: 2.5rem;
  }
  header .navbar .cart{
    font-size: 18px;
    font-weight: 600;
    /* color: #ffffff; */
    color: #000;
    cursor: pointer;
  }
  header .navbar .cart:hover{
    border-bottom: 0.2rem solid orange;
    /* border-radius: 6px; */
    padding: 0.5rem;
  }
  header .navbar ul li a {
    font-size: 1.57rem;
    /* color: rgb(255, 255, 255); */
    color: #000;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.04rem;
    transition: 0.2s;
  }
  header .navbar ul li a.active,
  header .navbar ul li a:hover {
    color: orange;
    border-bottom: 0.2rem solid orange;
    padding: 0.5rem;
    /* border-radius: 6px; */
  }
  
  #menu {
    font-size: 3rem;
    cursor: pointer;
    color: rgb(24, 2, 63);
    display: none;
  }
  @media (max-width: 768px) {
    #menu {
      display: block;
    }
    header .navbar {
      position: fixed;
      top: 6.5rem;
      right: -120%;
      width: 75%;
      height: 100%;
      text-align: left;
      align-items: flex-start;
      /* background-color: #0e0f31; */
    }
    header .navbar ul {
      flex-flow: column;
      padding: 1rem;
    }
    header .navbar ul li {
      text-align: center;
      width: 100%;
      margin: 1rem 0;
      border-radius: 0.5rem;
      width: 26rem;
    }
    header .navbar ul li a {
      display: block;
      padding: 1rem;
      text-align: left;
      /* color: #fff; */
      color: #000;
      font-size: 2rem;
    }
    header .navbar ul li a.active,
    header .navbar ul li a:hover {
      padding: 1rem;
      /* color: #fff; */
      color: #000;
      border-radius: 0.5rem;
      border-bottom: 0.5rem solid #011aff;
    }
    .fa-times {
      transform: rotate(180deg);
    }
    header .navbar .nav-toggle {
      right: 0;
    }
  }

  .slide{
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  .skills {
    min-height: 120vh;
    /* background: linear-gradient(to bottom, #57059e, #4a00e0); */
    /* background: linear-gradient(to bottom, #d0d0e1, #8686a6); */
    /* background-color: rgb(219, 218, 218); */
    background-color: #fff;
  }
  .skills h2 {
    color: #000000;
  }
  .skills h3 {
    font-size: 2rem;
    font-weight: 500;
    color: white;
    border: 2ps solid black;
    background-color: black;
    /* width: 13em; */
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    display: inline-block;
  }
  .skills p{
    color: white;
    font-size: large;
    font-weight: bolder;
  }
  .skills .sub-top-skills{
    padding-top: 50px;
  }
  .skills .Head{
    padding-top: 5px;
    padding-bottom: 30px;
    font-size: 50px;
    font-weight: bolder;
    font-family: "Poppins", sans-serif;
    color: black;
  }
  .skills img{
    img {
      width: 100%;         
      height: auto;        
      max-width: 100%;      
    }
  }
  .skills .heading span {
    color: rgb(255, 230, 0);
  }
  .skills .container {
    /* background: rgba(247, 254, 48, 0.667); */
    /* box-shadow: 0px 0px 10px rgb(0, 0, 0); */
    color: #ffffff;
    /* border-radius: 1rem; */
    padding: 4rem;
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    align-content: center;
  }
  .skills .container .row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-wrap: wrap;
    gap: 1.8rem;
    width: 100%;
    max-width: 1600px;
    /* aspect-ratio: 1 / 1; */
    /* overflow: hidden; */
  }
  .skills .container .row img{
    width: 100%;
    height: 100%;
    padding: 5px;
    object-fit: cover;
  }
  .skills .container .bar {
    margin-bottom: 15px;
    padding: 10px;
    /* min-height: 600px; */
    /* border-radius: 1rem; */
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
    background: rgba(255, 255, 255);
    transition: 0.2s;
    position: relative; /*Ensures that child elements use this as a reference */
    padding-bottom: 50px;
  }
  tr{
    font-size: 25px;
  }
  .skills .container .bar:hover {
    box-shadow: 0 0px 10px rgba(99, 104, 33, 0.8) !important;
    /* transform-box: 0 8px 10px rgba(99, 104, 33, 0.8) !important; */
    transform: scale3d(1.05, 1.05, 1.05);
    /* background-color: rgba(0, 0, 0, 0.9) !important; */
  }
  .skills .container .bar .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  .skills .container .bar .info i {
    font-size: 4rem;
  }
  .skills .container .bar .info span {
    font-size: 2rem;
    font-weight: 500;
    font-family: "Poppins";
    margin-left: 0.5rem;
    color: #000;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .skills .button{
    color: whitesmoke;
    border: 1px solid transparent;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  /* .skills .img-top{
    padding: 50px;
  } */
  .skills .btn-top{
    padding: 10px 50px;
    /* align-content: flex-end; */
    /* position: absolute; */
    /* bottom: 5px;  */
    width: 100%;
    text-align: center;
    background-color: #fdca00;
    border: 1px solid transparent;
    /* border-radius: 12px; */
    /* border-top-left-radius: 12px;
    border-top-right-radius: 12px; */
    box-shadow: 0 10px 0 #fdca00;
    /* margin-top: 10px; 
    display: flex; 
    gap: 10px; */
  }
  .skills .button:hover{
    transform: 0.2s;
    transition: calc(0.3s) ease-in;
    /* padding: 8px 48px; */
    background-color: #ffffff;
    color: #000;
    box-shadow: 0px 0px 10px #000;
    cursor: pointer;
  }
  
  @media screen and (max-width: 600px) {
    .skills .container {
      padding: 0;
      margin: 0;
    }
    .skills .container .row {
      grid-template-columns: repeat(1, 1fr);
      margin: 1rem;
      padding: 2rem 0.2rem 2rem 0.2rem;
      gap: 1rem;
      /* min-height: 1000px; */
    }
    .skills .container {
      margin-top: 5px;
      width: 100%;
    }
  }

  @media (max-width: 450px) {
    html {
      font-size: 55%;
    }
    body {
      padding-right: 0;
    }
    section {
      padding: 2rem;
    }
  }

/* 
  body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
} */

h1 {
    color: #333;
}

form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    display: inline-block;
}

/* button {
    margin-top: 10px;
    padding: 8px 12px;
} */


.drag-drop-zone {
  border: 2px dashed #007bff;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  color: #007bff;
  margin-bottom: 10px;
}

.drag-drop-zone:hover {
  background-color: #f1f1f1;
}